In [1]:
print('Hello world!')

Hello world!

In [2]:
 print('new')

new

here you can write notes with markdown drop down

In [3]:
print('new')

new

Starting Python Numbers Practice

Add, subtract, multiply and divide Python:

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

Modulo or "Mod" Operator

In [5]:
7 / 4

1.75

In [6]:
7 % 4

3

Modulo using the percent sign returns the remainder of a number being divided. 4 can only go into 7 once with a remander of 3.

In [7]:
50 % 5

0

In [8]:
23 % 2

1

In [9]:
20 % 2

0

You can use modulo to check code for even or odd using mod 2

Next is to the power using **

In [10]:
2 ** 3

8

In [11]:
2 + 10 * 10+ 3

105

In [12]:
(2 + 10) * (10+3)

156

Numbers - FAQ

Numbers FAQ 

1. What's the difference between floating point and an integer?

An integer has no decimals in it, a floating point number can display digits past the decimal point.

2. Why doesn't 0.1+0.2-0.3 equal 0.0 ?

This has to do with floating point accuracy and computer's abilities to represent numbers in memory. For a full breakdown, check out: https://docs.python.org/2/tutorial/floatingpoint.html




Variable Assignments practice

In [13]:
my_dogs = 2

In [14]:
print(my_dogs)

2

Avoid using built in python keywords with variable assignments.

In [15]:
a = 5

In [16]:
a

5

In [17]:
a = 10

In [18]:
a

10

In [19]:
a + a

20

In [20]:
a

10

In [23]:
a = a + a

In [25]:
a

40

In [26]:
type(a)

int

In [27]:
a = 30.1

In [28]:
type(a)

float

In [29]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [30]:
my_taxes

10.0

Introduction

To

Strings

In [33]:
print('hello')
print("Hello")
print("I don't do that")

hello
Hello
I don't do that

indexing a string character: h e l l o
                      index: 0 1 2 3 4
              reverse index: 0 -4 -3 -2 -1

In [34]:
[1]

[1]

Slicing allows you to grab a subsection of multiple characters, a "slice" of the string.
This has the following syntac:
[start:stop:step]
start is a numerical index for the slice start.
stop is the index you will go up to(but not include)
step is the size of the "jump" you take.

In [35]:
"hello"

'hello'

In [36]:
'world'

'world'

In [37]:
'this is also a string'

'this is also a string'

In [38]:
" I'm going on a run"

" I'm going on a run"

In [39]:
print("hello")

hello

In [40]:
"hello world on"
"hello world two"

'hello world two'

In [41]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [43]:
print('hello \nworld')

hello
world

In [44]:
print('hello \tworld')

hello 	world

In [45]:
len('hello')

5

In [46]:
len('I am')

4

Python counts white space as numbers in the string, space is number 1 after I.

Next section is String Indexing and Slicing!!!!!!!!

In [47]:
mystring = "Hello World"

In [48]:
mystring

'Hello World'

In [49]:
mystring[0]

'H'

In [50]:
mystring[8]

'r'

This is indexing.

In [51]:
mystring[9]

'l'

In [52]:
mystring[-2]

'l'

you can count backwards on the string using negative indexing.

In [53]:
mystring[-1]

'd'

Slicing is more complicated since you are grabbing a section of the string

In [54]:
mystring = 'abcdefghijk'

In [55]:
mystring

'abcdefghijk'

In [56]:
mystring[2:]

'cdefghijk'

starting number before the colon will grab that starting point, leaving the other end of the colo blank will grab everything after the starting point.

In [57]:
mystring[:3]

'abc'

The same is true in reverse, leaving the front of the colon blank will grab everything in the string before the end point designated by the number after the colon. The stop index does not include the 3 letter it just goes up to it.

In [58]:
mystring[3:6]

'def'

setting a number infront and behind grabs everything between the designated index.

In [59]:
mystring[1:3]

'bc'

In [60]:
mystring[3:9]

'defghi'

In [61]:
mystring[::]

'abcdefghijk'

This asks for the index all the way from beginning to end.

In [62]:
mystring[::2]

'acegik'

the third spot in indexing sets the step size, this will grab every other index in the string.

In [63]:
mystring[::3]

'adgj'

this can be adujusted easily to anything. 
Start:Stop:Step

In [64]:
mystring[2:7:2]

'ceg'

In [65]:
mystring[::-1]

'kjihgfedcba'

Putting in a negative one will reverse the string and count backwards.

String Properties and Methods!!!

Immutability of strings

In [66]:
name = "Sam"

name[0] = 'P' will not work you cannot change items in strings this way.

In [68]:
last_letters = name[1:]

In [69]:
last_letters

'am'

In [70]:
'P' + last_letters

'Pam'

concatenation or adding to a string

In [75]:
x = 'Hello World '

In [77]:
x = x + ",it is beautiful outside!"

In [78]:
x

'Hello World ,it is beautiful outside!'

In [79]:
x + x

'Hello World ,it is beautiful outside!Hello World ,it is beautiful outside!'

In [80]:
letter = 'z'

In [81]:
letter * 10

'zzzzzzzzzz'

In [83]:
'2' + '3'

'23'

concatination adds the number seperatley, differently the number 2 and 3 are counted as strings and not integers here.

In [84]:
2+3

5

In [85]:
x = 'Hello World'

In [86]:
x.upper()

'HELLO WORLD'

x."pressing tab" will show you every string assignment available

In [87]:
x='Hello World'

In [88]:
x

'Hello World'

In [91]:
x.lower

without () it will just retrun what it is you are trying to do without actually submitting it.

In [92]:
x.lower()

'hello world'

In [93]:
x.split()

['Hello', 'World']

In [96]:
x = 'Hi, this is a string'

In [97]:
x.split()

['Hi,', 'this', 'is', 'a', 'string']

In [99]:
x = 'Hi, this is a string'

In [101]:
x.split('i')

['H', ', th', 's ', 's a str', 'ng']

Strings -FAQ

Strings FAQ

1. Are strings mutable?

Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

2. How do I create comments in my code?

You can use the hashtag # to create comments in your code

String formatting for printing!!!!

. Format method

In [2]:
print('This is a string{}'.format(' INSERTED'))

This is a string INSERTED

In [4]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [5]:
print('The {0} {1} {0}'.format('fox','brown','quick'))

The fox brown fox

In [6]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

Float formatting with .format method!!

In [7]:
result = 100/777

0.1287001287001287

In [10]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

Float formatting follows "{value:width.precision f}"

In [11]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [12]:
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

In [14]:
print("The result was {r:1.2f}".format(r=result))

The result was 0.13

String litteral method

In [15]:
name = "Jose"

In [16]:
print("f'Hello, his name is {name}")

f'Hello, his name is {name}

In [17]:
name="Sam"

In [18]:
age = 3

In [19]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

Print Formatting FAQs

Print Formatting FAQS

1.) I imported print from the __future__ module, now print isn't working. What happened?

This is because once you import from the __future__ module in Python 2.7, a print statement will no longer work, and print must then use a print() function. Meaning that you must use

print('Whatever you were going to print')

or if you are using some formatting:

print('This is a string with an {p}'.format(p='insert'))

Lists in Python [ 1, 2, 3, 4, 5] and functions

In [20]:
my_list = [1,2,3]

In [21]:
len(my_list)

3

In [22]:
mylist = ['one','two','three']

In [23]:
mylist[0]

'one'

In [24]:
mylist[1:]

['two', 'three']

In [25]:
mylist

['one', 'two', 'three']

In [26]:
another_list = ['four','five']

In [28]:
new_list = mylist + another_list

In [29]:
new_list

['one', 'two', 'three', 'four', 'five']

In [30]:
new_list[0] = 'ONE ALL CAPS'

In [31]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [32]:
new_list.append('six')

In [33]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [35]:
new_list.append('seven')

In [36]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [37]:
new_list.pop()

'seven'

In [38]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [39]:
popped_item = new_list.pop()

In [40]:
popped_item

'six'

In [41]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [42]:
new_list.pop(0)

'ONE ALL CAPS'

In [43]:
new_list

['two', 'three', 'four', 'five']

Sorts and Reverse functions

In [44]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [45]:
new_list.sort()

In [46]:
new_list

['a', 'b', 'c', 'e', 'x']

In [47]:
num_list.sort()

In [48]:
num_list

[1, 3, 4, 8]

In [49]:
type(num_list)

list

In [50]:
new_list.sort()
my_sorted_list = new_list

In [51]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [52]:
num_list

[1, 3, 4, 8]

In [53]:
num_list.reverse()

In [54]:
num_list

[8, 4, 3, 1]

Lists - FAQ

Lists FAQ

1. How do I index a nested list? For example if I want to grab 2 from [1,1,[1,2]]?

You would just add another set of brackets for indexing the nested list, for example: my_list[2][1] . We'll discover later on more nested objects and you will be quizzed on them later!

Dictionaries!!!!!

In [2]:
my_dict = {'key1':'value1','key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dict['key1']

'value1'

In [11]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [12]:
prices_lookup['apple']

2.99

In [13]:
d = {'k1':123,'k2':[0,1,2], 'k3':{'insideKey':100}}

In [14]:
d['k2']

[0, 1, 2]

In [16]:
d['k3']['insideKey']

100

In [17]:
d['k2'][2]

2

In [18]:
d = {'key1':['a','b','c']}

In [19]:
mylist = d['key1']

In [20]:
mylist

['a', 'b', 'c']

In [22]:
letter = mylist[2]

In [23]:
letter

'c'

In [24]:
letter.upper()

'C'

In [26]:
d['key1'][2].upper()

'C'

In [27]:
d = {'k1':100,'k2':200}

In [28]:
d

{'k1': 100, 'k2': 200}

In [30]:
d['k3'] = 300

In [31]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [32]:
d['k1'] = 'NEW VALUE'

In [33]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [34]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [35]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [36]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [37]:
d.values()

dict_values([100, 200, 300])

In [38]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

Dictionaries - FAQ

Dictionaries FAQ

1. Do dictionaries keep an order? How do I print the values of the dictionary in order?

Dictionaries are mappings and do not retain order! If you do want the capabilities of a dictionary but you would like ordering as well, check out the ordereddict object lecture later on in the course!

Tuples and Python!!!!

Tuples are similar to lists However they have one key difference - immutability.

They can not be changed like lists can.

Tuples use parenthesis: (1,2,3)

In [39]:
t = (1,2,3)

In [40]:
mylist = [1,2,3]

In [41]:
type(t)

tuple

In [42]:
type(mylist)

list

In [44]:
len(t)

3

In [45]:
t =  ('one',2)

In [46]:
t[0]

'one'

In [47]:
t[-1]

2

In [48]:
t = ('a','a','b')

In [49]:
t.count('a')

2

In [50]:
t.index('a')

0

In [51]:
t

('a', 'a', 'b')

In [52]:
mylist

[1, 2, 3]

In [53]:
mylist[0] = 'NEW'

In [54]:
mylist

['NEW', 2, 3]

In [56]:
t[0]="NEW"

TypeError: 'tuple' object does not support item assignment

Sets!!!!!

Sets are unordered collections of unique elements.

Meaning there can only be one representative of the same object.

Let's see some examples!

In [58]:
myset = set()

In [59]:
myset

set()

In [60]:
myset.add(1)

In [61]:
set()

set()

In [62]:
myset

{1}

In [63]:
myset.add(2)

In [64]:
myset

{1, 2}

In [65]:
myset.add(2)

In [66]:
myset

{1, 2}

In [67]:
mylist = [1,1,1,1,1,2,2,2,3,3,3,3]

In [68]:
set(mylist)

{1, 2, 3}

Booleans Basics!!!

Booleans are operators that allow you to convey True or False statements.

These are very important later on when we deal with control flow and logic!

In [69]:
True

True

In [72]:
False

False

In [73]:
type(False)

bool

In [74]:
1 > 2

False

In [75]:
1 == 1

True

In [76]:
b = None

In [77]:
b

In [80]:
set([1,1,2,3])

{1, 2, 3}

Files!!!

In [82]:
%%writefile myfile.txt
Hello thi is a text file
this is the second line
this is the third line

Writing myfile.txt

In [83]:
myfile = open('myfile.txt')

In [84]:
pwd

'C:\\Users\\usele\\Desktop\\Zero to Hero python'

In [85]:
myfile = open('myfile.txt')

In [86]:
myfile.read()

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [87]:
myfile.read()

''

In [89]:
myfile.seek(0)

0

In [90]:
myfile.read()

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [91]:
myfile.seek(0)

0

In [92]:
contents = myfile.read()

In [93]:
contents

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [94]:
myfile.seek(0)

0

In [95]:
myfile.readlines()

['Hello thi is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [96]:
pwd

'C:\\Users\\usele\\Desktop\\Zero to Hero python'

In [97]:
myfile.close()

In [99]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [100]:
contents

'Hello thi is a text file\nthis is the second line\nthis is the third line\n'

In [101]:
with open('myfile.txt',mode ='r') as myfile:
    contents = myfile.read()

In [111]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [112]:
with open('my_new_file.txt',mode='r')as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [113]:
with open('my_new_file.txt',mode='a')as f:
    f.write('FOUR ON FOURTH')

In [114]:
with open('my_new_file.txt',mode='r')as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

Resources for More Basic Practice

Before you begin your assessment, I wanted to point out some helpful links for practice (don't worry about being able to do these exercises, I just want you to be aware of the links so you can visit them later, since we still haven't discussed functions, you won't be able to utilize a lot of these resources yet!):

Basic Practice:

http://codingbat.com/python

More Mathematical (and Harder) Practice:

https://projecteuler.net/archives

List of Practice Problems:

http://www.codeabbey.com/index/task_list

A SubReddit Devoted to Daily Practice Problems:

https://www.reddit.com/r/dailyprogrammer

A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

http://www.pythonchallenge.com/