In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

### Modulo or "Mod" Operator

In [5]:
7/4

1.75

In [7]:
7 % 4

3

In [8]:
50 % 5

0

In [10]:
23 % 2
#even or add by "mod" operating with the number 2

1

In [11]:
2 ** 3

8

In [12]:
20 % 2

0

In [13]:
2 + 10 * 10 + 3

105

In [14]:
(2 + 10) * (10 + 3)

156

### Variable assignments

In [29]:
my_dogs = 2

my_dogs + 2

4

In [34]:
a = 5

In [35]:
a

5

In [36]:
a = 10

In [37]:
a

10

In [38]:
a + a

20

In [39]:
a = a + 10

In [40]:
a

20

In [41]:
a = a + a

In [42]:
a

40

In [43]:
type(a)

int

In [44]:
a = 30.1

In [45]:
type(a)

float

In [46]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [47]:
my_taxes

10.0

### Introduction to Strings

    Strings are sequences of characters, using the syntax of either single quotes or double quotes.

In [49]:
'hello'

'hello'

In [50]:
"world"

'world'

In [51]:
'this is also a string'

'this is also a string'

In [52]:
" I'm going on a run"

" I'm going on a run"

In [53]:
' I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-53-47ed2ead564e>, line 1)

In [54]:
print('Hello World')

Hello World

In [74]:
a = 'Hello'
b = 'World'

In [73]:
a + b

'Hello\tWorld'

In [70]:
print('Hello \n World')

Hello
 World

In [71]:
print('Hello \tWorld')

Hello 	World

In [75]:
len('hello')

5

In [3]:
len('I am')

4

### Indexing and Slicing with Strings

In [81]:
mystring = "Hello World"

In [82]:
mystring

'Hello World'

In [83]:
mystring[0]

'H'

In [85]:
mystring[8]

'r'

In [86]:
mystring[-2]

'l'

In [87]:
mystring[9]

'l'

In [88]:
mystring[2:9:1]

'llo Wor'

In [89]:
mystring = 'abcdefghijk'

In [90]:
mystring

'abcdefghijk'

In [91]:
mystring[2:]

'cdefghijk'

In [92]:
mystring[:3]

'abc'

In [93]:
mystring

'abcdefghijk'

In [94]:
mystring[3:6:1]

'def'

In [95]:
mystring[::]

'abcdefghijk'

In [96]:
mystring[::2]

'acegik'

In [97]:
mystring[2:7:2]

'ceg'

In [98]:
mystring[::-1]

'kjihgfedcba'

In [99]:
mystring = 'tinker'
mystring[1:4]

'ink'

### String properties and methods

In [100]:
name = "Sam"

In [102]:
# name[0] = 'P'

In [105]:
last_letters = name[1:]

In [106]:
last_letters

'am'

In [108]:
'P' + last_letters

'Pam'

In [109]:
x = 'Hello World '

In [114]:
x = x + " it is beautiful outside!"

In [115]:
x

'Hello World it is beautiful outside!'

In [116]:
letter = 'z'

In [117]:
letter * 10

'zzzzzzzzzz'

In [118]:
2 + 3

5

In [119]:
'2' + '3'

'23'

In [120]:
x = 'Hello World'

In [121]:
x.upper()

'HELLO WORLD'

In [122]:
x

'Hello World'

In [124]:
x.lower()

'hello world'

In [125]:
x.upper

In [126]:
x.split()

['Hello', 'World']

In [127]:
x = 'Hi this is a string'

In [129]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [131]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [132]:
print('hello')

hello

### Print Formatting with Strings

In [5]:
print("This is a string {}".format('Waffles'))

This is a string Waffles

In [7]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [8]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [9]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [10]:
result = 100/777

In [11]:
result

0.1287001287001287

In [15]:
print('The result was {r}'.format(r=result))

The result was 0.1287001287001287

In [16]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [17]:
print('The result was {r:12.3f}'.format(r=result))

The result was        0.129

In [18]:
print('The result was {r:1.6f}'.format(r=result))

The result was 0.128700

In [19]:
result = 104.1234

In [20]:
print('The result was {r:1.3f}'.format(r=result))

The result was 104.123

In [21]:
name = 'Jose'

In [22]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [23]:
name = 'Sam'

In [24]:
age = '3'

In [25]:
print(f'{name} is {age} years old')

Sam is 3 years old

### Lists in Python

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['string',100,23.2]

In [3]:
len(my_list)

3

In [4]:
mylist = ['one','two','three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1]

'two'

In [7]:
mylist[1:]

['two', 'three']

In [8]:
mylist

['one', 'two', 'three']

In [9]:
another_list = ['four','five']

In [10]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [11]:
newlist = mylist + another_list

In [12]:
newlist

['one', 'two', 'three', 'four', 'five']

In [13]:
newlist[0] = 'ONE ALL CAPS'

In [14]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [15]:
newlist.append('six')

In [16]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
newlist.append('SEVEN')

In [18]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'SEVEN']

In [19]:
newlist.pop

In [20]:
newlist.pop()

'SEVEN'

In [21]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [22]:
popped_item = newlist.pop()

In [23]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [24]:
newlist.pop(0)

'ONE ALL CAPS'

In [25]:
newlist

['two', 'three', 'four', 'five']

In [28]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [29]:
new_list.sort()

In [30]:
new_list

['a', 'b', 'c', 'e', 'x']

In [31]:
my_sorted_list = new_list.sort()

In [33]:
type(my_sorted_list)

NoneType

In [34]:
None

In [35]:
new_list.sort()
my_sorted_list = new_list

In [36]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [37]:
num_list.sort()

In [38]:
num_list

[1, 3, 4, 8]

In [43]:
num_list.reverse()

In [44]:
num_list

[8, 4, 3, 1]

### Dictionaries

In [45]:
my_dict = {'key1':'value1','key2':'value2'}

In [46]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [47]:
my_dict['key1']

'value1'

In [48]:
 prices_lookup = {'apples':50.00,'oranges':1000.00,'milk':5.80}

In [49]:
prices_lookup['milk']

5.8

In [51]:
prices_lookup['apples']

50.0

In [52]:
apples = prices_lookup['apples']

In [53]:
milk = prices_lookup['milk']

In [54]:
oranges = prices_lookup['oranges']

In [55]:
oranges

1000.0

In [56]:
milk

5.8

In [57]:
apples

50.0

In [58]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [60]:
d['k2']

[0, 1, 2]

In [64]:
d['k3']['insideKey']

100

In [65]:
d = {'key1':['a','b','c']}

In [66]:
mylist = d['key1']

In [67]:
mylist

['a', 'b', 'c']

In [68]:
letter = mylist[2]

In [69]:
letter

'c'

In [70]:
letter.upper()

'C'

In [71]:
d

{'key1': ['a', 'b', 'c']}

In [72]:
d['key1'][2].upper()

'C'

In [73]:
d = {'k1':100,'k2':200}

In [74]:
d['k3'] = 300

In [75]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [76]:
d['k1'] = 'NEW VALUE'

In [77]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [78]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [79]:
d.keys

In [80]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [81]:
d.values()

dict_values([100, 200, 300])

In [82]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

### Tuples with Python

In [83]:
t = (1 ,2 ,3)

In [84]:
mylist = [1,2,3]

In [85]:
type(t)

tuple

In [86]:
type(mylist)

list

In [87]:
t

(1, 2, 3)

In [88]:
t = ('one',2)

In [89]:
t[0]

'one'

In [90]:
t[-1]

2

In [91]:
t = ('a','a','b')

In [94]:
t.count('a')

2

In [95]:
t.index('a')

0

In [96]:
t

('a', 'a', 'b')

In [97]:
mylist

[1, 2, 3]

In [98]:
mylist[0] ='NEW'

In [99]:
mylist

['NEW', 2, 3]

In [100]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets in Python

In [101]:
myset = set()

In [102]:
myset

set()

In [103]:
myset.add(1)

In [104]:
myset

{1}

In [105]:
myset.add(2)

In [106]:
myset

{1, 2}

In [107]:
myset.add(2)

In [108]:
myset

{1, 2}

In [19]:
mylist = [1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,3,]
#unlike lists sets cannot have multiples of the same value and combine
#into one

In [110]:
set(mylist)

{1, 2, 3}

### Booleans in Python

In [3]:
True
#true and false need to be capitalized or you will 
#get an error of undefined

True

In [4]:
true

NameError: name 'true' is not defined

In [5]:
False

False

In [6]:
false

NameError: name 'false' is not defined

In [7]:
#you can check type by using
type(False)

bool

In [8]:
#simple comparison operator's are booleans 
2<1

False

In [9]:
2>1

True

In [21]:
# two equal signs are needed when comparing equal to equal values
1 == 1

True

In [20]:
#the none can be used as a place holder until values are added
b = None

### I/O with Basic Files in Python

magic file only works in jupiter notebook the below is an example

In [25]:
%%writefile myfile.txt
Hello this is a text file 
this is the second line
this is the third line

Overwriting myfile.txt

The other option is to create a file normally and label it with .txt at the end.

In [26]:
#the text document needs to be written as a string to open
myfile = open('myfile.txt')

In [28]:
#this is an example of a common error when the file that is not
#in the folder you are trying to open it in 
#either the file does not exist/miss spelled file name 
#or you are in the wrong directory
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

To know where jupiter notebook is currently open at type pwd.

In [31]:
pwd

'C:\\Users\\usele\\Desktop\\New folder\\Zero-to-Hero'

   This is also the folder that all .txt folders need to be saved in to open with jupiter notebook wihtout having to manualy place file directory path.

In [35]:
myfile = open('myfile.txt')

In [36]:
#this returns a giant string of everything in the file
myfile.read()

'Hello this is a text file \nthis is the second line\nthis is the third line\n'

The \n that appears in the line of text indicates the start of a new line

In [37]:
myfile.read()

''

If you attempt to read the file again you will receive a blank return value. This is due to the read cursor being at the end of the text with nothing else to read. The way to reset this is with myfile.seek(0) setting the cursor back to 0.

In [38]:
#This will output a 0 showing its current position 
#after this you can use read as before
myfile.seek(0)

0

In [39]:
myfile.read()

'Hello this is a text file \nthis is the second line\nthis is the third line\n'

In [40]:
myfile.seek(0)

0

In [41]:
#another way of reading the file or setting functions
contents = myfile.read()

In [42]:
contents

'Hello this is a text file \nthis is the second line\nthis is the third line\n'

In [46]:
myfile.seek(0)

0

In [47]:
#using this command the lines are split
#making for an easier to read text
myfile.readlines()

['Hello this is a text file \n',
 'this is the second line\n',
 'this is the third line\n']

### File Locations

If you want to open files at another location on your computer, simply pass the entire file path.

myfile = open("C:\\\Users\\\usele\\\Desktop\\\New folder\\\Zero-to-Hero")

In [3]:
# remeber to close file after using them with

# the filename.close()

# this will keep you from getting file still open errors

myfile.close()

NameError: name 'myfile' is not defined

In [2]:
pwd

'C:\\Users\\usele\\Desktop\\New folder\\Zero-to-Hero'

Below is an easy way to read files without the need to remeber to close after finishing with the file.

In [5]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [6]:
contents

'Hello this is a text file \nthis is the second line\nthis is the third line\n'

In [7]:
#mode setting r stands for read
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [8]:
#if you change this to a w you will get an error trying to read 

#w stands for write mode

with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

mode='r' is read only

mode='w' is write only(will overite files or create new!)

mode='a' is append only(will add on to files)

mode='r+' is reading and writing

mode='w+' is writing and reading(Overwrites existing files or creates new file!)

In [9]:
%%writefile my_new_file.txt
ONE ON FIRST 
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [11]:
#setting up a function to read file that was just created
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [16]:
#using append mode this starts the cursor at the end of the existing text

#any text added this way will start after the current saved text

#notice backslash n before the added text to start a new line

with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [19]:
#setting the file to read and print text showing the new results

with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [20]:
#example of writing a file that will either create a new file

#this will also overwrite an existing file if you input the file

with open('Randomwords.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [22]:
#quick read of new text document

with open('Randomwords.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

### Python comparison Operators

In [9]:
#checking for equality requires two equal signs so python does

#think you are assigning a property

2 == 2

True

In [3]:
2 == 1

False

In [5]:
'hello' == 'bye'

False

In [6]:
#capitalization counts for equal to in python
'Bye' == 'bye'

False

In [8]:
# A string and an integer even if they look the same

#Will not equal one another

'2' == 2

False

In [10]:
2.0 == 2

True

In [11]:
#This reresents not equalt too

3 != 3

False

In [17]:
#The following are basic less than or equal to signs 

1 > 2

False

In [13]:
1 < 2

True

In [14]:
2 >= 2

True

In [15]:
2 <= 1

False

###  Chaining Comparison Operators